<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A personal tech blog built with JAMstack technology, featuring articles on modern web development.">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://vm-webdev-tech-blog.netlify.app">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Blog Homepage">
    <meta property="og:description" content="A personal tech blog built with JAMstack technology, featuring articles on modern web development.">
    <meta property="og:image" content="https://raw.githubusercontent.com/valentina-mota/web-images/refs/heads/main/open-graph-whatsapp-1200x630.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="vm-webdev-tech-blog.netlify.app">
    <meta property="twitter:url" content="https://vm-webdev-tech-blog.netlify.app">
    <meta name="twitter:title" content="Blog Homepage">
    <meta name="twitter:description" content="A personal tech blog built with JAMstack technology, featuring articles on modern web development.">
    <meta name="twitter:image" content="https://raw.githubusercontent.com/valentina-mota/web-images/refs/heads/main/open-graph-whatsapp-1200x630.png">
    <title>{{ title }}</title>
    <link rel="icon" type="image/svg+xml" href="../assets/logo/favicon.svg" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    {% include "header.njk" %}
    <main>
      {{ content | safe }}
    </main>
 
    {% include "footer.njk" %}
  </body>
</html>
