<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div class="header__img">
        <a
          href="https://vm-webdev-tech-blog.netlify.app/"
          ><img
            src="https://raw.githubusercontent.com/valentina-mota/11ty-blog-site/main/src/assets/header/vm-primary-500.png"
            alt=""
        /></a>
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="https://valentinamota.me" rel = "noreferrer noopener" target="_blank">My Portfolio</a>
          </li>
          <li>
            <a href="/">BLOG</a>
          </li>
          <li>
            <a href="/blog/">ARCHIVE</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
